html body {
    font-family: 'Merriweather', serif;
    background: linear-gradient(#ffffff, #cecece);
}

/* Navbar color */ 
nav:first-of-type {
    border-radius: 0;
    background: #090602;
}


#mb {
    margin-bottom: 0;
}

/* Carousel */
.cw {
    margin: 50px 0;
}

/* Lorem Ipsum */
.lit {
    margin: 50px 0;
}
.lit>h2 {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    font-weight: 900;
    width: 300px;
    display: inline-block;
    position:relative;
    left: 25%;
}
.lit>p {
    font-size: 17px;
    line-height: 27px;
}

/* Targets navbar menu links */
ul.dropdown-menu>li>a {
    line-height: 2.2;
}
.navbar-inverse .navbar-header>a {
    color: #ffe3ba;
}

/* Navbar Menu, Order, Abt Us */
.navbar-nav .dropdown .dropdown-toggle {
    color: #ffe3ba;
}

/* Main Photo */
#bgi {
    background: url(img/pizza-dough.jpeg);
    background-position: center;
    background-size: cover;
    padding: 230px;
}
.rncp {
    
}
/* Resturant Name */
.rn {
    position: relative;
    color: #ffe3ba;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    bottom: 150px;
    left: 100px;
}
/* Catch Phrase */
.cp {
    position: relative;
    color: #ffe3ba;
    font-size: 30px;
    font-weight: lighter;
    font-style: oblique;
    bottom: 120px;
    left: 210px;
    
}

/* Reserve Now, Background */
.background-content {
    background-image: url(img/cozy-bar.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    background-attachment: fixed;
}

.background-content .rwu {
    text-align: center;
    font-size: 4.5em;
    position: relative;
    top: 41%;
    width: 100%;
    color: white;
}

.frm {
    margin: 50px 0;
    text-align: center;
}

.frm>input {
    padding: 16px;
    width: 50%;
    margin-bottom: 10px;
}

.frm>div {
   margin: 50px 0; 
    
}

.hbb {
   text-transform: uppercase;
    font-size: 30px;
}

.ptt {
    font-size: 17px;
}

#rim {
    margin-left: 0;
    margin-right: 0;
}
.row {
    padding: 30px;
}