html body {
    font-family: 'Merriweather', serif;
    background: linear-gradient(#e6e2e0, #ffe3ba);
}

nav:first-of-type {
    border-radius: 0;
    border: 3px solid rgb(0, 0, 0);
    background-color: #080808;
}


#mb {
    margin-bottom: 0;
}

.cw {
    width: 800px;
    margin: 50px auto;
}
/* Targets navbar menu links */
ul.dropdown-menu>li>a {
    line-height: 2.2;
}
.navbar-inverse .navbar-header>a {
    color: #ffe3ba;
}

/* Navbar Menu, Order, Abt Us */
.navbar-nav .dropdown .dropdown-toggle {
    color: #ffe3ba;
}

/* Main Photo */
#bgi {
    background: url(img/dough.jpg);
    background-position: center;
    background-size: cover;
    padding: 230px 0;
}
/* Resturant Name */
.rn {
    position: relative;
    bottom: 100px;
    left: 200px;
    color: #ffe3ba;
    font-size: 65px;
    font-weight: bold;
}
/* Catch Phrase */
.cp {
    position: relative;
    bottom: 100px;
    left: 200px;
    color: #ffe3ba;
    font-size: 30px;
    font-weight: lighter;
}


